<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Celtic_Gauniversal>
            <version>1.0.1</version>
        </Celtic_Gauniversal>
    </modules>
    <global>
        <blocks>
            <celticga>
                <class>Celtic_Gauniversal_Block</class>
            </celticga>
        </blocks>
        <helpers>
            <celticga>
                <class>Celtic_Gauniversal_Helper</class>
            </celticga>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Celtic_Gauniversal>
                    <files>
                        <default>Celtic_Gauniversal.csv</default>
                    </files>
                </Celtic_Gauniversal>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <celticga>
                    <file>celtic_gauniversal.xml</file>
                </celticga>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <celticga>
                        <class>Celtic_Gauniversal_Model_Observer</class>
                        <method>onCheckoutSuccess</method>
                    </celticga>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <celticga>
                        <class>Celtic_Gauniversal_Model_Observer</class>
                        <method>onCheckoutSuccess</method>
                    </celticga>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <default>
        <google>
            <celticga>
                <enable>0</enable>
                <cookieexpire>63072000</cookieexpire>
                <domain>auto</domain>
                <usecustom>0</usecustom>
            </celticga>
        </google>
    </default>
</config>